/* Main container card */
#main-container {
  background-color: #EBF4DD;
  margin: 30px auto;
  width: 95%;
  border-radius: 16px;
  padding: 2rem;
}

/* Top card inside main container */
.top-card {
  background-color: #ffffff; 
  width: 93%;                
  margin: 0 auto;  
  padding: 1rem 1.5rem;
  border-radius: 16px;      
  text-align: center;
  font-weight: bold;
  font-size: 17pt;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}

#slogan {
  color: #3B4953;   
  text-align: center; 
  font-size: 15pt;  
  margin: 10pt;  

}

.bottom-card {
  background-color: #ffffff; 
  width: 40%;               
  margin: 20px; 
  border-radius: 16px;      
  padding: 1rem 1.5rem;     

  display: flex;         
  justify-content: center; 
  align-items: center;    
}

.bottom-card img{
  width: 50%;
  /* margin: 0 auto; */
}
